<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.library.mapper.BookMapper">

    <resultMap id="BaseResultMap" type="com.example.library.domain.Book">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="publisher" column="publisher" jdbcType="VARCHAR"/>
            <result property="isbn" column="isbn" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="publishTime" column="publish_time" jdbcType="DATE"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,author,
        publisher,isbn,created_at,
        updated_at,price,publish_time,
        stock,version
    </sql>
</mapper>
